.postBackground {
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 1px solid silver;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 48px;
}

.titleContainer {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.postBuffer {
  width: 80%;
  background: #ffffff;
  padding: 20px;
  max-width: 1024px;
  border-radius: 10px;
  margin-left: 10px;
  padding-bottom: 50px;
}

.postContent {
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.subRedditHeader {
  height: 16px;
  width: 139px;
  color: rgba(88, 88, 88, 0.87);
  font-family: "Lucida Grande";
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: right;
}

.titleRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding-left: 7px;
}

.score {
  height: 20px;
  width: 60px;
  color: #2c2c2c;
  font-family: "Lucida Grande";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 7px;
}

.title {
  color: #2c2c2c;
  font-family: "Lucida Grande";
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 28px;
}

.postBodyLine {
  padding-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.postBody {
  background-color: #f1f1f1;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
}

.commentsLength {
  color: #2c2c2c;
  font-family: "Lucida Grande";
  font-size: 12px;
  letter-spacing: -0.5px;
  line-height: 15px;
  padding-left: 10px;
}

.commentList {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 42px;
}

.authorLink {
  color: #36a3f0;
  font-family: "Lucida Grande";
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  padding: 0;
  margin-right: 7px;
}

.lineCopy {
  box-sizing: border-box;
  height: 267px;
  width: 2px;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.commentColumn {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.childComments {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  border-left: 1px solid #ededed;
}

.commentBody {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Lucida Grande";
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  padding-top: 10px;
  padding-right: 50px;
}

.deleteButton {
  margin-left: auto;
  margin-right: 30px;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.fromNow {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: right;
}

.topLevelComment {
  display: flex;
  flex-direction: column;
}
