.postBackground {
  background-color: #f9f9f9;
  width: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 1px solid silver;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}

.postBuffer {
  width: 80%;
}

.subRedditHeader {
  height: 16px;
  width: 139px;
  color: rgba(88, 88, 88, 0.87);
  font-family: "Lucida Grande";
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: right;
}

.titleRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.score {
  height: 20px;
  width: 60px;
  color: #2c2c2c;
  font-family: "Lucida Grande";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  padding-right: 15px;
  margin-top: 4px;
}

.title {
  height: 28px;
  width: 740.95px;
  color: #2c2c2c;
  font-family: "Lucida Grande";
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 28px;
}

.postBodyLine {
  padding-bottom: 20px;
}

.postContent {
  display: flex;
  flex-direction: column;
}

.postBody {
  background-color: #f1f1f1;
  padding: 15px;
}

.commentList {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 20px;
}

.commentItem {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.authorLink {
  height: 16px;
  width: 83px;
  color: #36a3f0;
  font-family: "Lucida Grande";
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  cursor: pointer;
}

.lineCopy {
  box-sizing: border-box;
  height: 267px;
  width: 2px;
  border: 1px solid #ededed;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.childComments {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  border-left: 0.5px solid silver;
  padding-top: 10px;
}

.commentBody {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Lucida Grande";
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.deleteIcon {
  margin-left: auto;
  margin-right: 30px;
}
